@import 'src/style/_colors';

.textfield {
  position: relative;
  width: 100%;
  height: 40px;

  input  {
    width: 100%;
    height: 20px;
    outline: none;
    border: none;
    border-bottom: solid 1px $default;
    background: none;

    &.error {
      outline: none;
      border-bottom: 2px solid $cancel;
    }
  }
  input:focus {
    outline: none;
    border-bottom: 2px solid $focus-light;
  }

  label {
    position: relative;
    bottom: -20px;
    font-size: 12px;
    transition: all 0.2s;
    text-transform: uppercase;

    &.focused {
      font-size: 10px;
      bottom: 2px;
      color: $light-default;
    }
  }

  .asterisk {
    font-size: 12px;
    color: $cancel;
  }
}
