@import 'src/style/_colors';

.combobox {
  position: relative;
  width: 100%;
  color: $default;

  select {
    border: none;
    width: 100%;
    height: 20px;
    background-color: #fff;
    outline: none;
    border-bottom: 1px solid $default;

    &:focus {
      border-bottom: 2px solid $focus-light;
    }
  }

  label {
    font-size: 10px;
    text-transform: uppercase;
  }

  .asterisk {
    font-size: 12px;
    color: $cancel;
  }

  .error {
    border-bottom: 2px solid $cancel;
  }
}
